@import url(fonts.css);
@import url(media_styles.css);

* {
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 2000px;
  overflow-x: hidden;
  font-family: "Lato", "Myriad Pro", "Proxima Nova";
  margin: 0px auto;
  min-height: 100vh;
}

.container {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.section__divider~section {
  min-height: fit-content;
  padding: 100px 0;
  margin: 0 auto;
}

h2 {
  color: #5A5A5A;
  font-size: 38px;
  font-style: italic;
  font-weight: 300;
}

h3 {
  font-weight: 400;
  color: black;
  padding: 5px;
  font-size: 15px;
}

p {
  color: #5A5A5A;
  font-size: 15px;
  font-weight: 300;
}

q {
  color: #FFFFFF;
  font-size: 25px;
  font-style: italic;
  max-width: 681px;
  quotes: "\201C""\201D""\2018""\2019"
}

q::before,
q::after {
  font-size: 158px;
  color: #ED145B;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  ;
}

.header {
  width: 100%;
  padding: 40px;
  min-height: 50px;
  position: absolute;
}

.header__logo {
  position: absolute;
  font-size: 19px;
  color: #ED145B;
  text-decoration: none;
}

.header__logo--bold {
  color: #FFFFFF;
  font-weight: 900;
}

.header__nav--block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 40px;
  font-weight: 700;
  position: absolute;
  top: 0%;
  right: 5%;
}

.header__nav--link {
  text-align: center;
  list-style-type: none;
}

.header__nav--link>a {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__nav--link>a:hover {
  color: #ED145B;
  transition: 200ms;
}

.header__nav--home>a {
  color: #ED145B;
}

.section-00 {
  display: flex;
  background-image: url(../img/main_pic.png);
  background-repeat: no-repeat;
  min-height: 740px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.section-00__content {
  max-width: 1000px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section-00__heading {
  font-size: 46px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.section-00__heading--bold {
  font-weight: 900;
}

.section__line {
  width: 201px;
  height: 5px;
}

.section-00__text {
  font-size: 22px;
  font-weight: 300;
  color: #FFFFFF;
}

.section__text {
  max-width: 681px;
  text-align: center;
}

.section__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ED145B;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  transition: all 1000ms;
}

.section__button:hover {
  font-weight: 1000;
  letter-spacing: 0.1em;
}


.section__button--inverted {
  background-color: #FFFFFF;
  color: #ED145B;
  text-decoration: none;
}

.section__divider {
  max-width: 2000px;
  box-sizing: border-box;
  margin: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 100vw;
  border-color: transparent transparent #F4F4F4 #ED145B;
  overflow: hidden;
}

.section-01,
.section-09 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #F4F4F4;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.section-01__content,
.section-09__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 20px;
  padding: 10px;
}

.section-01__content>p,
.section-09__content>p {
  text-align: left;
  max-width: 500px;
}

.section-01__imageblock {
  position: relative;
  max-width: 900px;
  max-height: 516px;
  top: 0;
  left: 0;
  margin: 0;
}

.section-01__laptop {
  box-shadow: 0 5px 6px -6px black;
  min-width: 300px;
  max-width: 100%;
  height: auto;
}

.section-01__screenshot {
  position: absolute;
  top: 8%;
  left: 12.5%;
  width: 75%;
  height: auto;
}

.dashed {
  border-top: 3px dashed #bbb;
}

.section-02 {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  max-width: 1000px;
  gap: 20px;
}

.section-02__block {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 120px;
}

.section-02__item {
  display: flex;
  flex-flow: column;
  gap: 30px;
  cursor: pointer;
  border: none;
  background: none;
}

.section-02__item--frame {
  display: flex;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  border: solid 1px #5A5A5A;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.section-02__item--01frame {
  background-image: url(../img/vector1.png);
}

.section-02__item--02frame {
  background-image: url(../img/vector2.png);
}

.section-02__item--03frame {
  background-image: url(../img/vector3.png);
}

.section-02__item--04frame {
  background-image: url(../img/vector4.png);
}

.item__heading {
  text-transform: uppercase;
  color: #ED145B;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
}

.section-03 {
  background-image: url(../img/main_pic.png);
  display: flex;
  align-content: center;
}

.section-03>q {
  margin: 0 auto;
  text-align: center;
}

.section-04 {
  background-color: #F4F4F4;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  gap: 20px;
}

.section-04__pricelist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  width: 75%;
}

.section-04__pricelist--block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 263px;
  height: 450px;
  text-align: center;
  background-color: #FFFFFF;
}

.section-04__pricelist--pricebox {
  background-color: #5A5A5A;
  width: 263px;
  height: 150px;
}

.section-04__pricelist--pricetag {
  background-color: #5A5A5A;
  color: #F4F4F4;
  font-size: 15px;
  width: 80px;
  height: 125px;
  margin: 20px auto;
}

.section-04__pricelist--pricetagbig {
  font-size: 50px;
}

.section-04__pricelist--planname {
  position: absolute;
  height: 50px;
  width: 200px;
  top: 125px;
  left: 30px;
  background-color: #F4F4F4;
  border: none;
  border-radius: 50px;
  color: #5A5A5A;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 50px;
}

.section-04__pricelist--descriptionbox {
  width: 263px;
  height: 300px;
  margin: 50px auto;
}

.section-04__pricelist--descriptionbox>li {
  font-size: 15px;
  color: #5A5A5A;
  list-style-type: none;
  line-height: 2em;
  font-weight: 300;
}

.section-04__pricelist--buybutton {
  border: none;
  align-self: center;
  padding: 15px 0;
  margin-bottom: 30px;
  width: 200px;
  height: 50px;
  background-color: #ED145B;
  border-radius: 50px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}

.section-04__pricelist--buybutton:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.section-04__pricelist--buybutton:active {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  transform: scale(0.9);
}

.section-05 {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  min-width: 345px;
  max-width: 1200px;
  flex-direction: row;
  gap: 40px;
}

.section-05__block {
  width: 345px;
  min-height: 115px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.section-05__block--image {
  height: 57px;
}

.section-06 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ED145B;
  gap: 20px;
}

.section-06__text {
  font-size: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 5px;
}

.bold {
  font-weight: 1000;
}

.section-07 {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
}

.section-07__newsblock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.section-07__newsblock--item {
  position: relative;
  width: 360px;
  height: 390px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #F4F4F4;
  z-index: 1;
  text-decoration: none;
}

.section-07__newsblock--photo {
  width: 360px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 2;
  position: relative;
}

.section-07__newsblock--photo::before {
  content: "";
  background-image: url(../img/095__search@1X.png), linear-gradient(rgba(237, 20, 91, 0.9), rgba(237, 20, 91, 0.9));
  opacity: 0;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.section-07__newsblock--photo:hover::before {
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.section-07__newsblock--photo-1 {
  background-image: url(../img/07-1.png);
}

.section-07__newsblock--photo-2 {
  background-image: url(../img/07-2.png);
}

.section-07__newsblock--photo-3 {
  background-image: url(../img/07-3.png);
}

.section-07__newsblock--photo-4 {
  background-image: url(../img/07-4.png);
}

.section-07__newsblock--photo-5 {
  background-image: url(../img/07-5.png);
}

.section-07__newsblock--photo-6 {
  background-image: url(../img/07-6.png);
}

.photo__divider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 0 360px;
  border-color: transparent transparent transparent #ED145B;
  overflow: hidden;
}

.section-08 {
  display: flex;
  background-image: url(../img/main_pic.png);
  background-repeat: no-repeat;
  flex-flow: column;
  align-items: center;
  gap: 20px;
}

.section-08 h2,
.section-08 p {
  color: #FFFFFF;
}

.section-09__imageblock {
  position: relative;
  width: 800px;
  height: 570px;
  box-shadow: 2px 1px 5px grey;
}

.section-09__topbar {
  position: absolute;
  width: 800px;
  top: 0;
  left: 0;
}

.section-09__screenshot {
  position: absolute;
  max-width: 800px;
  top: 7%;
  left: 0;
}

footer {
  height: 100px;
  background-color: #2B2B2B;
  color: #FFFFFF;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  text-transform: uppercase;
}